<!-- Why us section  -->
<section class="w-full m-0">
    <div
        class="m-auto p-16 md:pt-16 lg:pt-24 max-w-7xl text-center justify-items-center
        h-full mb-4 grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-4 items-center">

        <div class="w-44">
            <img class="m-auto" src="../../../assets/Images/delivery_elementor-icon.svg" alt="">
            <h4 class="font-dm-serif text-primary800 text-2xl my-4">
                Fast Delivery
            </h4>
            <p class="text-sm text-primary550 opacity-95">
                Lorem ipsum dolor sit amet,
                adipiscing elit, sed do eiusmod
                tempor consectetur
            </p>
        </div>
        <div class="w-44">
            <img class="m-auto" src="../../../assets/Images/location_elementor-icon.svg" alt="">
            <h4 class="font-dm-serif text-primary800 text-2xl my-4">
                Order Tracking
            </h4>
            <p class="text-sm text-primary550 opacity-95">
                Lorem ipsum dolor sit amet,
                adipiscing elit, sed do eiusmod
                tempor consectetur
            </p>
        </div>
        <div class="w-44">
            <img class="m-auto" src="../../../assets/Images/security.elementor-icon.svg" alt="">
            <h4 class="font-dm-serif text-primary800 text-2xl my-4">
                Secure Payment
            </h4>
            <p class="text-sm text-primary550 opacity-95">
                Lorem ipsum dolor sit amet,
                adipiscing elit, sed do eiusmod
                tempor consectetur
            </p>
        </div>
        <div class="w-44">
            <img class="m-auto" src="../../../assets/Images/discount_elementor-icon.svg" alt="">
            <h4 class="font-dm-serif text-primary800 text-2xl my-4">
                Big Discounts
            </h4>
            <p class="text-sm text-primary550 opacity-95">
                Lorem ipsum dolor sit amet,
                adipiscing elit, sed do eiusmod
                tempor consectetur
            </p>
        </div>
    </div>
</section>