<section  @fadeIn class="w-full my-16">
    
    <div   
    class="absolute left-0 z-[-1] top-32 opacity-70">
        <img class=" h-auto w-32 md:w-40 lg:w-72" src="../../../assets/Images/Group 8.svg" alt="svg img">
    </div>
    <div class="m-auto pt-8 md:pt-16 lg:pt-24 max-w-6xl h-full items-center text-center mb-4">
        <div class="max-w-3xl m-auto">
            <h4 class="text-sm font-semibold text-primary550 opacity-95 font-dm-serif m-4">

            </h4>
            <h2 class="text-2xl max-w-2xl m-auto font-dm-serif tracking-wide md:text-3xl lg:text-4xl mx-8">
                Our story
            </h2>
            <h4 class="text-lg max-w-2xl m-auto font-dm-serif tracking-wide md:text-xl lg:text-2xl my-8 ">
                We provide fresh and healthy plants for your space
            </h4>
            <p class="text-sm text-primary550 opacity-95 my-8 mx-8">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Quis
                ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
            </p>
            <p class="text-sm text-primary550 opacity-95 my-8 mx-8">
                Tincidunt ut pellentesque arcu molestie dolor, nunc feugiat sit mauris semper platea urna,
                sapien fermentum venenatis etiam enim ullamcorper phasellus tortor justo sapien faucibus
                in adipiscing risus adipiscing bibendum nec eget tincidunt sed.
            </p>

            <p class="text-sm text-primary550 opacity-95 my-8 mx-8">
                Tristique dapibus porta viverra sit accumsan integer semper dolor etiam id iaculis feugiat
                egestas urna est magna euismod donec facilisis sed integer orci ac.
            </p>
            <p class="text-sm text-primary550 opacity-95 my-8 mx-8">
                Mi et tincidunt ut pellentesque arcu molestie dolor, nunc feugiat sit mauris semper platea
                urna, sapien fermentum venenatis etiam enim ullamcorper phasellus tortor justo, et,
                pellentesque pellentesque sapien faucibus in adipiscing risus adipiscing bibendum in nec
                eget tincidunt in in sed magna arcu molestie nec mauris quisque.
            </p>
            <p class="text-sm text-primary550 opacity-95 my-8 mx-8">
                Feugiat lacus sagittis, mauris, lobortis velit ullamcorper vitae in volutpat faucibus
                elementum, sodales orci mi fames molestie venenatis nunc hendrerit.
            </p>

        </div>
    </div>

    <div class="absolute right-0 z-[-1] opacity-70">
        <img class="h-auto w-32 md:w-40 lg:w-72" src="../../../assets/Images/Group 7.svg" alt="svg img">
    </div>
    <div class="max-w-6xl m-auto my-16">
        <div class="max-w-4xl text-center m-auto">
            <h4 class="font-dm-serif text-6xl text-primary600">
                “
            </h4>
            <p class="text-2xl text-primary800 opacity-95 mb-8 mx-8">
                Massa aliquam montes, odio porttitor sit ac maecenas interdum ut tincidunt
                nisl erat quam eu natoque in nisl, lobortis sapien in nec ullamcorper vel.
            </p>
            <h4 class="font-dm-serif text-6xl text-primary600">
                ”
            </h4>
            <img class="w-16 h-16 object-cover rounded-full m-auto my-4" src="../../../assets/Images/model_1.jpg" alt="Owner">
            <h4 class="uppercase text-primary800 text-lg font-medium my-4">
                Emily Evergreen
            </h4>
            <h4 class="text-primary550 text-sm my-4">
                Founder, Owner
            </h4>

        </div>

    </div>

    <div class="grid grid-cols-1 gap-2 md:grid-cols-2 lg:grid-cols-3 mx-8 xl:m-auto max-w-6xl">
        <img class="object-cover" src="../../../assets/Images/div.gallery-1.jpg" alt="Our Story">
        <img class="object-cover" src="../../../assets/Images/div.gallery-2.jpg" alt="Our Story">
        <img class="object-cover" src="../../../assets/Images/div.gallery-3.jpg" alt="Our Story">
        <img class="object-cover" src="../../../assets/Images/div.gallery-4.png" alt="Our Story">
        <img class="object-cover" src="../../../assets/Images/div.gallery-5.jpg" alt="Our Story">
        <img class="object-cover" src="../../../assets/Images/div.gallery-6.jpg" alt="Our Story">

    </div>

</section>