<footer class="pt-8 bg-primary200 text-primary550 w-full divide-y-2 divide-primary400">
    <div class="text-center
    max-w-xs m-auto h-full
    grid grid-cols-1 justify-items-center
    md:justify-items-start
    md:grid-cols-2 md:gap-4 items-center
    md:max-w-2xl
    lg:max-w-7xl lg:px-12
    ">
        <div>
            <app-logo></app-logo>
            <h4 class="text-xl font-dm-serif text-primary800 opacity-100 pt-4">
                Follow US
            </h4>
            <div class=" grid grid-cols-3 gap-4 m-8">
                <a href="https://www.linkedin.com/in/uxnish/">
                    <img src="../../../assets/Images/Facebook.jpg" alt="Linkedin">
                </a>
                <a href="https://www.instagram.com/ux.nish/">
                    <img src="../../../assets/Images/Instagram.jpg" alt="Instagram">
                </a>
                <a href="#">
                    <img src="../../../assets/Images/Twitter.jpg" alt="Twitter">
                </a>
            </div>
        </div>
        <div class="my-8 md:my-24 grid grid-rows-3 gap-3 mb-8
        md:text-left md:justify-self-end">
            <h4 class="text-xl font-dm-serif text-primary800 opacity-100">
                Subscribe to Our Newsletter
            </h4>
            <input type="email" name="email" class="bg-white border shadow-sm border-primary300 placeholder-primary500 
            focus:outline-none focus:border-primary600 focus:ring-primary600 
            block w-full sm:text-sm focus:ring-1
            text-primary600" placeholder=" your@email.com">

            <div class="">
                <app-newsletter-button></app-newsletter-button>
            </div>
        </div>
    </div>
    <div class="text-center h-16 flex items-center justify-center">
        <p class="text-lg">
            Copyright © 2023 Nishant Jagtap
        </p>
    </div>

</footer>