<div class="text-center m-16 grid grid-cols-1 gap-8">
    <div class="m-auto">
        <img class="rounded-full w-24 h-24 object-cover" src="../../../assets/Images/Model_2.jpg" alt="review profile">
    </div>
    <h4 class="font-dm-serif text-lg max-w-5xl m-auto tracking-wide md:text-xl lg:text-2xl">
        “ Really good service and good quality plants, lorem ipsum dolor
        sit amet,<br> consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua quis ipsum!”
    </h4>
    <h6 class="font-dm-serif max-w-5xl m-auto text-primary550 opacity-95 text-sm">
Anna Oliver
    </h6>

</div>