<!--product-detail-page -->

<div class="bg-primary200 p-8">
    <div class="max-w-7xl bg-white m-auto">
        <div class=" mt-16 md:mt-24 lg:mt-32">
            <div class="p-4 md:p-8 grid grid-cols-1 md:grid-cols-2 gap-8">
                <div class="w-full grid grid-cols-1 gap-4">
                    <img class="object-cover w-full" src="../../../assets/Images/{{'flower-1.jpg'}}" alt="Product image">
                    <div class="grid grid-cols-2 gap-4">
                        <img src="../../../assets/Images/{{'flower-003-b-218x300.jpg.jpg'}}" alt="product image 1">
                        <img src="../../../assets/Images/{{'flower-03-c-218x300.jpg.jpg'}}" alt="product image 2">
                    </div>
                </div>
                <div class="max-w-lg">
                    <h2 class="text-xl md:text-3xl lg:text-5xl text-primary800 font-dm-serif">
                       {{'Plant Name'}}
                    </h2>
                    <div class="mt-4 md:mt-8 grid grid-cols-1 gap-4 md:gap-4">
                        <p class="text-primary550 opacity-95 text-sm">
                            <span class="text-lg md:text-xl">{{'200' | currency}}</span> & Free Shipping
                        </p>
                        <p class="text-primary550 opacity-95 text-sm">
                           {{ "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ultricies feugiat consectetur. Ut dictum massa quis felis pulvinar maximus. Duis tempor commodo tempus. Lorem ipsum dolor sit amet, consectetur adipiscing elit."}}
                        </p>
                        <div class="flex gap-4">
                            <div
                                class="divide-x divide-primary500 border border-primary500 w-fit h-min mt-4 md:m-0 text-xs text-primary550">
                                <button type="button" class="py-2 px-4 hover:bg-primary500">
                                    -
                                </button>
                                <button type="button" class="py-2 px-4 ">
                                    1
                                </button> <button type="button" class="py-2 px-4 hover:bg-primary500">
                                    +
                                </button>
                            </div>
                            <app-primary-button></app-primary-button>
                        </div>

                        <img src="../../../assets/Images/product-payments.png" alt="payment options">

                        <div class="grid grid-cols-1 gap-2">
                            <div class="flex gap-2 items-center">
                                <img class="h-4 w-auto" src="../../../assets/Images/check-mark.png" alt="check-mark">
                                <p class="text-primary550 opacity-95 text-sm">
                                    No-Risk Money Back Guarantee!
                                </p>
                            </div>
                            <div class="flex gap-2 items-center">
                                <img class="h-4 w-auto" src="../../../assets/Images/check-mark.png" alt="check-mark">
                                <p class="text-primary550 opacity-95 text-sm">
                                    No Hassle Refunds
                                </p>
                            </div>
                            <div class="flex gap-2 items-center">
                                <img class="h-4 w-auto" src="../../../assets/Images/check-mark.png" alt="check-mark">
                                <p class="text-primary550 opacity-95 text-sm">
                                    Secure Payments
                                </p>
                            </div>
                        </div>


                    </div>


                </div>
            </div>

            <div class="p-8 grid grid-cols-1 md:grid-cols-4 gap-4">
                <h4 class="font-serif text-lg text-primary550 opacity-95">
                    Description
                </h4>
                <div class="col-span-3 grid gap-4">
                    <h3 class="font-serif text-xl md:text-2xl lg:text-4xl ">
                        About the Plant
                    </h3>
                    <p class="text-primary800 font-serif text-base md:text-xl lg:text-2xl">
                        Proin pharetra leo arcu, eu maximus neque condimentum ac. Aliquam ornare dolor sit amet libero
                        euismod, eget.
                    </p>
                    <p class="text-primary550 opacity-95 text-sm">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ultricies feugiat consectetur. Ut
                        dictum massa quis felis pulvinar maximus. Duis
                        tempor commodo tempus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et
                        nibh et nunc dignissim convallis. Vestibulum
                        eu est sit amet justo semper aliquam. Morbi id vulputate justo. Vivamus tincidunt sagittis sem
                        eget fermentum. Morbi ac tortor rhoncus,
                        placerat ipsum sit amet, gravida magna. Curabitur maximus dolor non tellus elementum, id
                        imperdiet turpis tincidunt. Vivamus sem nunc,
                        sagittis ut eros vel, ultrices efficitur quam. Mauris volutpat pharetra felis eget facilisis.
                    </p>
                </div>


            </div>


        </div>
        <div class="py-8 grid grid-cols-1 md:grid-row-2 md:grid-cols-2">
            <div class="bg-primary200 p-8">
                <h4 class="text-2xl md:text-4xl font-dm-serif py-4">
                    Care guide
                </h4>
                <p class="text-primary550 opacity-95 text-sm">
                    Sed at eleifend nisi. Mauris justo velit, faucibus egestas bibendum non,
                    aliquam eget odio. Curabitur faucibus ex non feugiat sagittis. Integer sed
                    posuere lorem.
                </p>

                <div class="grid grid-cols-10 gap-4 my-8 ">
                    <img class="pt-1" src="../../../assets/Images/cloud.png" alt="cloud/rain">
                    <div class="grid grid-cols-1 gap-1 col-span-8 ">
                        <h6 class="font-dm-serif text-lg ">
                            Frequent Watering
                        </h6>
                        <p class="text-primary550 opacity-95 text-sm">
                            Amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                            ullamcorper mattis, pulvinar dapibus leo.
                        </p>
                    </div>

                </div>
                <div class="grid grid-cols-10 gap-4 my-8 ">
                    <img class="pt-1" src="../../../assets/Images/sun.png" alt="sun">
                    <div class="grid grid-cols-1 gap-1 col-span-8 ">
                        <h6 class="font-dm-serif text-lg ">
                            Most Light Conditions
                        </h6>
                        <p class="text-primary550 opacity-95 text-sm">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
                            tellus, luctus nec ullamcorper mattis.
                        </p>
                    </div>

                </div>
                <div class="grid grid-cols-10 gap-4 my-8 ">
                    <img class="pt-1" src="../../../assets/Images/humidity.png" alt="humidity">
                    <div class="grid grid-cols-1 gap-1 col-span-8 ">
                        <h6 class="font-dm-serif text-lg ">
                            Humidity
                        </h6>
                        <p class="text-primary550 opacity-95 text-sm">
                            Dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                            ullamcorper, pulvinar.
                        </p>
                    </div>

                </div>
            </div>
            <div class="bg-primary200 md:row-start-2 md:col-start-2 p-8">
                <h4 class="text-2xl md:text-4xl font-dm-serif py-4">
                    Sad plant signs
                                </h4>
                <p class="text-primary550 opacity-95 text-sm">
                    Mauris justo velit, faucibus egestas bibendum non, aliquam eget odio.
Curabitur faucibus ex non feugiat sagittis. Integer.
                </p>

                <div class="grid grid-cols-10 gap-4 my-8 ">
                    <img class="pt-1" src="../../../assets/Images/arrow.png" alt="arrow">
                    <div class="grid grid-cols-1 gap-1 col-span-8 ">
                        <h6 class="font-dm-serif text-lg ">
                            Leaves turning brown and crispy at the edges
                                                </h6>
                        <p class="text-primary550 opacity-95 text-sm">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,
luctus nec ullamcorper mattis.
                        </p>
                    </div>

                </div>
                <div class="grid grid-cols-10 gap-4 my-8 ">
                    <img class="pt-1" src="../../../assets/Images/arrow.png" alt="arrow">
                    <div class="grid grid-cols-1 gap-1 col-span-8 ">
                        <h6 class="font-dm-serif text-lg ">
                            Wilting plant, dry potting mix
                        </h6>
                        <p class="text-primary550 opacity-95 text-sm">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
                            tellus, luctus nec ullamcorper mattis.
                        </p>
                    </div>

                </div>
                <div class="grid grid-cols-10 gap-4 my-8 ">
                    <img class="pt-1" src="../../../assets/Images/arrow.png" alt="arrow">
                    <div class="grid grid-cols-1 gap-1 col-span-8 ">
                        <h6 class="font-dm-serif text-lg ">
                            Yellowing leaves or black stems
                                                </h6>
                        <p class="text-primary550 opacity-95 text-sm">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,
luctus nec ullamcorper mattis.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        </div>
    </div>

</div>